.app-container {
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #0d0766e0;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #fff;
  border: 3px solid #3183b9;
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
